body{
    margin: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    transition: 1.5s;

}
.headingtext,.registerlink a{
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
    font-family: sans-serif;
    transition: 1.5s;
}
.full_View{
    width: 90%;
    height: auto;
    transition: 5s;   
}
.whole_scenes{
    width: 65%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: auto;
    border: 2px solid;
    left: 50%;
    transition: 5s;
}
.companyList{
    width: 65%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: auto;
    left: 50%;
    border: 2px solid;
    transition: 5s;
}
.Comapynm{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(75, 75, 75);
    padding: 15px;
    margin: 15px;
}
.Comapynm .btncompany button{
    background-color: blueviolet;
    color: #FFFF;
    border-radius: 25px;
    border: 1px;
}
.Comapynm .headingCompany h4{
    width: 100%;
}