@font-face {
    font-family: "My-Custom_font";
    src: url(font/Geist_Mono/);
}


.login{
    width: min-content;
    height: auto;
    display: block;
    align-items: center;
    border: 2px solid red;
    padding: 25px;
    border-radius: 25px;
    background-color: rgb(142, 167, 0);
    transition: 2.5s;
}
.heading{
    width: auto;
    display: flex;
    justify-content: center;
}
h1{
    font-family: "My-Custom_font",sans-serif;
    display: flex;
    justify-content: center;
    width: 125px;
    margin: 25px;
}
input{
    margin: 7.5%;
    border-radius: 25px;
    width: 75%;
    border: 1px solid;
    padding: 7.5%;
}
.loginbtnd{
    display: flex;
    justify-content: center;
}
.loginbtn{
    background-color: rgb(19, 143, 19);
    padding-left: 2.5%;
    padding-right: 2.5%;
}
.loginbtn:hover{
    background-color: rgb(105, 105, 105);
    color: rgb(18, 4, 31);
    size: 25px;
}
.login:hover{
    background-color: red;
    border: 2px solid white;
    transition: 2.5s;
    .LoginHeader{
        color: white;
        transition: 2s;
    }
}
body{
    display: flex;
    justify-content: center;
    background-color: rgb(105, 105, 105);
}